.elementor-66 .elementor-element.elementor-element-4687b54:not(.elementor-motion-effects-element-type-background),
.elementor-66 .elementor-element.elementor-element-4687b54>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-66 .elementor-element.elementor-element-4687b54 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
    z-index: 99;
}

.elementor-66 .elementor-element.elementor-element-4687b54>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-66 .elementor-element.elementor-element-a86048d>.elementor-element-populated {
    padding: 8px 0px 8px 0px;
}

.elementor-66 .elementor-element.elementor-element-1743a8e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-66 .elementor-element.elementor-element-ad5d13f img {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-menu-toggle {
    margin-left: auto;
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
    padding-left: 16px;
    padding-right: 16px;
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--main .elementor-item:hover,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-accent);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-menu-toggle {
    color: var( --e-global-color-a97fd0d);
    fill: var( --e-global-color-a97fd0d);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 12px 0px 12px 0px;
    border-color: var( --e-global-color-primary);
    border-radius: 16px 16px 16px 16px;
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a:hover,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a.highlighted,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-menu-toggle:hover {
    color: var( --e-global-color-a97fd0d);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a:hover,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-a97fd0d);
    background-color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown .elementor-item,
.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.elementor-66 .elementor-element.elementor-element-4bc6712 div.elementor-menu-toggle {
    color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 div.elementor-menu-toggle:hover {
    color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-4bc6712 div.elementor-menu-toggle:hover svg {
    fill: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-9cd1691 .elementor-button {
    padding: 12px 12px 12px 12px;
}

.elementor-66 .elementor-element.elementor-element-f6e4c75>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-66 .elementor-element.elementor-element-e85a778 img {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.elementor-66 .elementor-element.elementor-element-1c9a2b9 .elementor-button {
    padding: 12px 12px 12px 12px;
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-menu-toggle {
    margin-left: auto;
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
    padding-left: 16px;
    padding-right: 16px;
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--main .elementor-item:hover,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-accent);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-menu-toggle {
    color: var( --e-global-color-a97fd0d);
    fill: var( --e-global-color-a97fd0d);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 12px 0px 12px 0px;
    border-color: var( --e-global-color-primary);
    border-radius: 16px 16px 16px 16px;
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a:hover,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a.highlighted,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-menu-toggle:hover {
    color: var( --e-global-color-a97fd0d);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a:hover,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-a97fd0d);
    background-color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown .elementor-item,
.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.elementor-66 .elementor-element.elementor-element-94852a8 div.elementor-menu-toggle {
    color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-94852a8 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-94852a8 div.elementor-menu-toggle:hover {
    color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-94852a8 div.elementor-menu-toggle:hover svg {
    fill: var( --e-global-color-primary);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(min-width:768px) {
    .elementor-66 .elementor-element.elementor-element-4559b34 {
        width: 14%;
    }
    .elementor-66 .elementor-element.elementor-element-7536013 {
        width: 72%;
    }
    .elementor-66 .elementor-element.elementor-element-5a9326c {
        width: 14%;
    }
    .elementor-66 .elementor-element.elementor-element-ce1ed5d {
        width: 14%;
    }
    .elementor-66 .elementor-element.elementor-element-86af027 {
        width: 14%;
    }
    .elementor-66 .elementor-element.elementor-element-fe414c7 {
        width: 72%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-66 .elementor-element.elementor-element-4559b34 {
        width: 22%;
    }
    .elementor-66 .elementor-element.elementor-element-7536013 {
        width: 56%;
    }
    .elementor-66 .elementor-element.elementor-element-5a9326c {
        width: 22%;
    }
    .elementor-66 .elementor-element.elementor-element-ce1ed5d {
        width: 71%;
    }
    .elementor-66 .elementor-element.elementor-element-86af027 {
        width: 22%;
    }
    .elementor-66 .elementor-element.elementor-element-fe414c7 {
        width: 7%;
    }
}

@media(max-width:1024px) {
    .elementor-66 .elementor-element.elementor-element-a86048d>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--main .elementor-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-e85a778 {
        text-align: left;
    }
    .elementor-66 .elementor-element.elementor-element-e85a778 img {
        width: 42%;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--main .elementor-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media(max-width:767px) {
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 {
        --nav-menu-icon-size: 25px;
    }
    .elementor-66 .elementor-element.elementor-element-4bc6712 .elementor-menu-toggle {
        border-radius: 8px;
    }
    .elementor-66 .elementor-element.elementor-element-ce1ed5d {
        width: 45%;
    }
    .elementor-66 .elementor-element.elementor-element-e85a778 img {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-fe414c7 {
        width: 55%;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 {
        --nav-menu-icon-size: 25px;
    }
    .elementor-66 .elementor-element.elementor-element-94852a8 .elementor-menu-toggle {
        border-radius: 8px;
    }
}