.elementor-83 .elementor-element.elementor-element-3965d0c:not(.elementor-motion-effects-element-type-background),
.elementor-83 .elementor-element.elementor-element-3965d0c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-83 .elementor-element.elementor-element-3965d0c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 16px 0px 16px 0px;
}

.elementor-83 .elementor-element.elementor-element-3965d0c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-7b79327>.elementor-element-populated {
    padding: 8px 0px 8px 0px;
}

.elementor-83 .elementor-element.elementor-element-cc15494>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-83 .elementor-element.elementor-element-dc76ece img {
    border-radius: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-6c2a8f5.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-83 .elementor-element.elementor-element-f8379ec {
    width: auto;
    max-width: auto;
}

.elementor-83 .elementor-element.elementor-element-f8379ec>.elementor-widget-container {
    margin: 0px 16px 0px 16px;
}

.elementor-83 .elementor-element.elementor-element-f8379ec .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    color: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-d9658e1 {
    width: auto;
    max-width: auto;
}

.elementor-83 .elementor-element.elementor-element-d9658e1>.elementor-widget-container {
    margin: 0px 16px 0px 16px;
}

.elementor-83 .elementor-element.elementor-element-d9658e1 .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    color: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-2c4adc7 {
    width: auto;
    max-width: auto;
}

.elementor-83 .elementor-element.elementor-element-2c4adc7>.elementor-widget-container {
    margin: 0px 16px 0px 16px;
}

.elementor-83 .elementor-element.elementor-element-2c4adc7 .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    color: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-1144505 {
    width: auto;
    max-width: auto;
}

.elementor-83 .elementor-element.elementor-element-1144505>.elementor-widget-container {
    margin: 0px 16px 0px 16px;
}

.elementor-83 .elementor-element.elementor-element-1144505 .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    color: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-a3c7e6a {
    width: auto;
    max-width: auto;
}

.elementor-83 .elementor-element.elementor-element-a3c7e6a>.elementor-widget-container {
    margin: 0px 16px 0px 16px;
}

.elementor-83 .elementor-element.elementor-element-a3c7e6a .elementor-heading-title {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    color: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 8px;
    --grid-row-gap: 0px;
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-widget-container {
    text-align: right;
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-social-icon {
    background-color: var( --e-global-color-16c5ddc);
    --icon-padding: 0.6em;
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-social-icon i {
    color: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-social-icon svg {
    fill: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-social-icon:hover {
    background-color: var( --e-global-color-a97fd0d);
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-social-icon:hover i {
    color: var( --e-global-color-primary);
}

.elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-social-icon:hover svg {
    fill: var( --e-global-color-primary);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-83 .elementor-element.elementor-element-7b79327>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-83 .elementor-element.elementor-element-f8379ec>.elementor-widget-container {
        margin: 0px 8px 0px 8px;
    }
    .elementor-83 .elementor-element.elementor-element-f8379ec .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-d9658e1>.elementor-widget-container {
        margin: 0px 8px 0px 8px;
    }
    .elementor-83 .elementor-element.elementor-element-d9658e1 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-2c4adc7>.elementor-widget-container {
        margin: 0px 8px 0px 8px;
    }
    .elementor-83 .elementor-element.elementor-element-2c4adc7 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-1144505>.elementor-widget-container {
        margin: 0px 8px 0px 8px;
    }
    .elementor-83 .elementor-element.elementor-element-1144505 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-a3c7e6a>.elementor-widget-container {
        margin: 0px 8px 0px 8px;
    }
    .elementor-83 .elementor-element.elementor-element-a3c7e6a .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-4eb9fe7 {
        --icon-size: 17px;
        --grid-column-gap: 6px;
    }
}

@media(max-width:767px) {
    .elementor-83 .elementor-element.elementor-element-3965d0c {
        padding: 32px 16px 16px 16px;
    }
    .elementor-83 .elementor-element.elementor-element-dc76ece img {
        width: 56%;
    }
    .elementor-83 .elementor-element.elementor-element-f8379ec {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .elementor-83 .elementor-element.elementor-element-f8379ec>.elementor-widget-container {
        margin: 8px 0px 8px 0px;
    }
    .elementor-83 .elementor-element.elementor-element-f8379ec .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-d9658e1 {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .elementor-83 .elementor-element.elementor-element-d9658e1>.elementor-widget-container {
        margin: 8px 0px 8px 0px;
    }
    .elementor-83 .elementor-element.elementor-element-d9658e1 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-2c4adc7 {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .elementor-83 .elementor-element.elementor-element-2c4adc7>.elementor-widget-container {
        margin: 8px 0px 8px 0px;
    }
    .elementor-83 .elementor-element.elementor-element-2c4adc7 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-1144505 {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .elementor-83 .elementor-element.elementor-element-1144505>.elementor-widget-container {
        margin: 8px 0px 8px 0px;
    }
    .elementor-83 .elementor-element.elementor-element-1144505 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-a3c7e6a {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .elementor-83 .elementor-element.elementor-element-a3c7e6a>.elementor-widget-container {
        margin: 8px 0px 8px 0px;
    }
    .elementor-83 .elementor-element.elementor-element-a3c7e6a .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-83 .elementor-element.elementor-element-4eb9fe7 .elementor-widget-container {
        text-align: center;
    }
    .elementor-83 .elementor-element.elementor-element-4eb9fe7 {
        --icon-size: 18px;
    }
}

@media(min-width:768px) {
    .elementor-83 .elementor-element.elementor-element-a742091 {
        width: 14%;
    }
    .elementor-83 .elementor-element.elementor-element-6c2a8f5 {
        width: 72%;
    }
    .elementor-83 .elementor-element.elementor-element-7d82ca8 {
        width: 14%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-83 .elementor-element.elementor-element-a742091 {
        width: 22%;
    }
    .elementor-83 .elementor-element.elementor-element-6c2a8f5 {
        width: 56%;
    }
    .elementor-83 .elementor-element.elementor-element-7d82ca8 {
        width: 22%;
    }
}